html, body, div, span,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header{
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
a {
	text-decoration: none;
}
html, body, .content {
	height: 100%;
}
body {
	text-align: center;
}
.content {
	max-width: 80%;
	margin: 0 auto;
	/*padding: 5%;*/
	font-family: 'Open Sans', sans-serif;
}
.banner, .product, .description, .login-form, .preferences, .registration{
	margin-left: 10%;
	margin-right: 10%;
	/* border */
	border: 1px solid black;
	/* for positioning inner elements */
	position: relative;
}
.banner {
	height: 15%;
	background-color: black;
	color: white;
}
/* 
	PRODUCT / BROWSING PAGE 
*/
.product {
	height: 45%;
	background-color: white;
	color: black;
}
.description {
	min-height: 40%;
	background-color: black;
	color: white;
}
.banner img {
	height: 50%;
}
.banner #logout-btn, .banner #preferences-btn {
	position: absolute;
	right: 0;
	font-size: 80%;
}

.product img {
	height: 75%;
}
.product .arrow {
	opacity: 0.3;
	cursor: pointer;
	height: 55%;
}
.product .product-img {
	margin-left: 4%;
	margin-right: 4%;
}
.product .space {
	height: 10%;
}

.description .product-title {
	margin-top: 5%;
	margin-bottom: 1%;
	font-size: 120%;
}
.description .product-price {
	margin: 3% auto;
	font-size: 200%;
}
.description .buy {
	/*color: palegreen;*/
	color: white;
	border-top: 1px solid palegreen;
	border-bottom: 1px solid palegreen;
}
.description .more-details {
	/*color: skyblue;*/
	border-top: 1px solid skyblue;
	border-bottom: 1px solid skyblue;
	cursor: pointer;
}
.description .buy, .description .more-details {
	font-style: italic;
	font-size: 90%;
}
.description .product-details {
	text-align: left;
	padding: 3%;
	display: none;
}

/* 
	LOGIN PAGE
*/
.login-form {
	height: 85%;
	background-color: black;
	color: white;
}
.login-form button {
	width: 100px;
}

/*
	REGISTRATION PAGE
*/
.registration {
	height: 85%;
	background-color: black;
	color: white;
}
.registration .registration-form {
	width: 50%;
	margin: 0 auto;
	text-align: left;
}

/* 
	PREFERENCES PAGE
*/
.preferences {
	height: 85%;
	background-color: black;
	color: white;
}
.preferences h1 {
	font-size: 150%;
	font-weight: bold;
}
.preferences .category {
	cursor: pointer;
}
.preferences .subcategories {
	display: none;
}